/* Fondo con gradiente y filtros */
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradientBack {
  position: absolute; /* Absoluto para que no afecte al flujo del documento */
  top: 0;
  left: 0;
  background: linear-gradient(209deg, #4A90E2, #50C4B6, #4E9F9F, #2F8A8C, #1C5B5B);
  background-size: 360% 360%;
  animation: gradient-animation 54s ease infinite;
  
  /* Filtro de desenfoque y ajustes de brillo/contraste */
  -webkit-filter:  brightness(1.2) contrast(1.3);
  filter: blur(3px) brightness(1.2) contrast(1.3); 
  
  /* Máscara para curvas (si la quieres aplicar) */
  -webkit-mask-image: linear-gradient( rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient( rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -1; /* Asegúrate de que el gradiente esté por debajo del contenido */
}

/* Contenedor con texto y contenido */
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado horizontal */
  justify-content: center; /* Centrado vertical */
  width: 100%;
  height: 100vh;
  color: white;
  font-family: Roboto Mono, monospace;
  overflow: hidden; /* Eliminar cualquier desbordamiento */
}

/* Contenido principal */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Usar min-height para permitir que el contenido se expanda si es necesario */
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  padding: 0 20px; /* Asegura que no haya contenido pegado a los bordes */
}

/* Título */
.title {
  /* margin-top: 2.5rem; */
  margin: 2.5rem 1rem 0 1rem;
  line-height: 1.2;
}

.name {
  color: #333;
  font-size: inherit;
}

/* Botón */
.button {
  margin-top: 5rem;
  padding: 12px 24px;
  font-size: 1rem;
  background: #42f0d8;
  font-family: Roboto Mono, monospace;
  text-decoration: none;
  color: #333;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}

.button:hover {
  background: #32bba9;
}

/* RESPONSIVE */

/* Para pantallas medianas (tabletas, etc.) */
@media (max-width: 768px) {
  .content {
      font-size: 2.2rem; /* Ajuste del tamaño de la fuente */
      padding: 0 15px; /* Asegurar un margen adecuado */
  }

  .title {
      margin-top: 4rem;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .content {
      font-size: 1.6rem; /* Ajuste más pequeño para pantallas pequeñas */
      padding: 0 10px; /* Reducir el padding para evitar cortes */
  }

  .title {
      margin-top: 3rem;
  }

  .button {
      padding: 10px 20px;
      font-size: 0.9rem; /* Ajuste del tamaño del botón */
  }
}
